@charset "UTF-8";
html {
	overflow-y: scroll; /* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
	/*Internet Explorerが独自に追加したプロパティ*/
	/*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
}
/* リセットおまじない--------------------------------- */

body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}
body {
	background: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}
li {
	list-style: none;
}
a {
	outline: none;
	color: inherit;
	text-decoration: none;
}
img {
	border: 0px;
	vertical-align: bottom;
}
/* --------------------------------------------------- */
header{
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 100;
}
/* ここからハンバーガーメニュー */
nav {
	display: block;
	position: fixed;
	top: 0;
	left: -300px;
	bottom: 0;
	width: 300px;
	background: #ffffff;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	transition: .5s;
	z-index: 3;
  }
  .open nav {
	left: 0;
  }
  nav .inner {
	padding: 25px;
  }
  nav .inner ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  nav .inner ul li {
	position: relative;
	margin: 0;
	border-bottom: 1px solid #333;
  }
  nav .inner ul li a {
	display: block;
	color: #333;
	font-size: 14px;
	padding: 1em;
	text-decoration: none;
	transition-duration: 0.2s;
  }
  nav .inner ul li a:hover {
	background: #e4e4e4;
  }
  @media screen and (max-width: 767px) {
	nav {
	  left: -240px;
	  width: 240px;
	}
  }
  /*============
  @keyframes
  =============*/
  @keyframes equalizer01 {
	0% {
	  width: 70%;
	}
	10% {
	  width: 50%;
	}
	20% {
	  width: 100%;
	}
	30% {
	  width: 10%;
	}
	40% {
	  width: 50%;
	}
	50% {
	  width: 70%;
	}
	60% {
	  width: 50%;
	}
	70% {
	  width: 10%;
	}
	80% {
	  width: 100%;
	}
	90% {
	  width: 10%;
	}
	100% {
	  width: 70%;
	}
  }
  @keyframes equalizer02 {
	0% {
	  width: 30%;
	}
	10% {
	  width: 20%;
	}
	20% {
	  width: 40%;
	}
	30% {
	  width: 10%;
	}
	40% {
	  width: 20%;
	}
	50% {
	  width: 30%;
	}
	60% {
	  width: 20%;
	}
	70% {
	  width: 10%;
	}
	80% {
	  width: 40%;
	}
	90% {
	  width: 10%;
	}
	100% {
	  width: 30%;
	}
  }
  /*============
  .toggle_btn
  =============*/
  .toggle_btn {
	display: block;
	position: fixed;
	top: 30px;
	left: 30px;
	width: 60px;
	height: 30px;
	transform: translate(0, 0);
	transition: all .5s;
	cursor: pointer;
	z-index: 3;
  }
  .open .toggle_btn {
	left: 330px;
  }
  .toggle_btn span {
	display: block;
	position: absolute;
	left: 0;
	width: 30px;
	height: 2px;
	background-color: #666;
	transition: all .5s;
  }
  .toggle_btn span:nth-child(1) {
	top: 5px;
  }
  .toggle_btn span:nth-child(2) {
	top: 15px;
  }
  .toggle_btn span:nth-child(3) {
	top: 25px;
  }
  .open .toggle_btn span {
	background-color: #fff;
	width: 30px;
  }
  .open .toggle_btn span:nth-child(1) {
	transform: translate(0, 10px) rotate(-45deg);
	animation: unset;
  }
  .open .toggle_btn span:nth-child(2) {
	opacity: 0;
	animation: unset;
  }
  .open .toggle_btn span:nth-child(3) {
	transform: translate(0, -10px) rotate(45deg);
	animation: unset;
  }
  @media screen and (max-width: 767px) {
	.open .toggle_btn {
	  left: 260px;
	}
  }
  /*============
  #mask
  =============*/
  #mask {
	display: none;
  }
  .open #mask {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .8;
	z-index: 2;
	cursor: pointer;
	transition: all .5s;
  }
/* ここまで */
  
.headerbtn{
	margin-right: 50px;
}



.headerbtn ul{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: transparent;
	list-style: none;
	
}

.btn-open {
	display: inline-block;
	width: 120px;
	height:21px;
	text-align: center;
	/* background-color: #9ec34b; */
	font-size: 13px;
	line-height: 24px;
	color: black;
	text-decoration: none;
	font-weight: bold;
	/* border: 2px solid #9ec34b; */
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.btn-open:after{
	width: 100%;
	height: 0;
	content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	background : black;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transition: .2s;
	z-index: -1;
}
.btn-open:hover{
	color: whitesmoke;
}
.btn-open:hover:after{
	height: 240%;
	opacity: 1;
}
.btn-open:active:after{
	height: 340%;
	opacity: 1;
}

.headerbtn li{
	text-align: center;
	padding-right: 10px;
	
}
/* ヘッダーここまで */





.main{
	height: 100%;
    width: 100%;
    /* background-color: rgba(0, 81, 255, 0.363); */
    justify-content: space-around;
    padding-top: 0px;
}

/* スライドショー */
.slide {
	position: relative;
	width: 100%;
	height: 75vh;
	overflow: hidden;
	z-index: 10;
}
  
  
@keyframes slideshow{
	0%{
	  opacity: 0;
	}
	10%{
	  opacity: 1;
	}
	28%{
	  opacity: 1;
	}
	38%{
	  opacity: 0;
	}
	100%{
	  opacity: 0;
	}
  
}
  
.slide img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: auto;
	opacity: 0;
	animation :slideshow 24s linear infinite;
	z-index: 10;
}
  
.slide img:nth-child(2){
	animation-delay: 8s;
}
  
.slide img:last-child{
	animation-delay: 16s;
}
  /* スライドショー終わり */

.id_hello{
	height: auto;
	position: relative;
}  
.id_hello p{
	width: 100%;
	height: 100%;
	position: absolute;
	top: -330px;
	left: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center;
	z-index: 300;
    color: black;
	font-size: 40px;
	animation: fadeout 7.5s ease 1s 1 forwards;
	font-family: "FOT-筑紫Aオールド明朝 Pr6 R", "ヒラギノ明朝 Pro W3", "ＭＳ Ｐ明朝", "MS PMincho", "Hiragino Mincho Pro", serif;

}
@keyframes fadeout { /*animetion-nameで設定した値を書く*/

	0% {opacity: 1} /*アニメーション開始時は不透明度0%*/
  
	100% {opacity: 0} /*アニメーション終了時は不透明度100%*/
  
  }
.toppic{
	position: relative;
	height: 300px;
	width: 100%;
	text-align: center;
}

h1{
	width: 33%;
	height: 45px;
	margin: 0 auto;
	margin-top: 25px;
	background-color: rgba(128, 255, 0, 0.877);
	font-family: "FOT-筑紫Aオールド明朝 Pr6 R", "ヒラギノ明朝 Pro W3", "ＭＳ Ｐ明朝", "MS PMincho", "Hiragino Mincho Pro", serif;
	text-decoration: underline;
}

.toppic p{
	font-family: "FOT-筑紫Aオールド明朝 Pr6 R", "ヒラギノ明朝 Pro W3", "ＭＳ Ｐ明朝", "MS PMincho", "Hiragino Mincho Pro", serif;
	font-size: 22px;
}

.inner {
	width: 100%;
	margin: 0 auto;
}

.inner .title{
	width: 100%;
	height: 40px;
	/* background-color: crimson; */
}

.title p{
	width: 33%;
	height: 45px;
    font-size: 27px;
    font-weight: bold;
    font-stretch: extra-condensed;
	text-align: center;
	text-decoration: underline;
	margin: 0 auto;
	background-color: rgba(128, 255, 0, 0.877);
	font-family: "FOT-筑紫Aオールド明朝 Pr6 R", "ヒラギノ明朝 Pro W3", "ＭＳ Ｐ明朝", "MS PMincho", "Hiragino Mincho Pro", serif;
}
.itemlist{
	max-height: 800px;
    width: 100%;
    /* background-color: darkgrey; */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2.75em;
    margin-top: 1.75em;
    padding-right: 0%;

}

.photo{
	position: relative;
	width: 100%;
	height: 50%;
	overflow: hidden;
	z-index: 10;
    font-weight: bold;
    border: solid 3px #0000006c;

}
.photo img{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	margin: 0; 
    padding: 0;
}
.itemlist li{
	height: 228px;
	width: 16%;
	/* background-color: thistle; */
	position: relative;
	list-style: none;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 30px;
	font-family: "FOT-筑紫Aオールド明朝 Pr6 R", "ヒラギノ明朝 Pro W3", "ＭＳ Ｐ明朝", "MS PMincho", "Hiragino Mincho Pro", serif;
}


dl{
	position: absolute;
	height: 114px;
	width: 100%;
	/* background-color: darkmagenta; */
	bottom: 0;
	margin: 0;

}
dd{
	width: 100%;
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	/* background-color: goldenrod; */
	text-align: center;
	top: 80px;
	border-bottom: dashed 1px rgba(0, 153, 255, 0.384)


}


/* .csatxt{
    height: 500px;
    width: 100%;
    background-color: rgba(19, 228, 36, 0.658);
    justify-content: space-around;
    padding-top: 0px;
} */
/* アクセス */
.access{
    height: 475px;
    width: 100%;
    /* background-color: rgba(228, 19, 19, 0.658); */
    justify-content: space-around;
    padding-top: 0px;
}

.access p{
	height: 45px;
	width: 33%;
	font-size: 28px;
	margin: 0 auto;
	text-align: center;
	text-decoration: underline;
	background-color: rgba(128, 255, 0, 0.877);
	margin-bottom: 20px;
	font-family: "FOT-筑紫Aオールド明朝 Pr6 R", "ヒラギノ明朝 Pro W3", "ＭＳ Ｐ明朝", "MS PMincho", "Hiragino Mincho Pro", serif;  
}

.access a {
	display: block;
    width: 45%;
    height: 45vh;
    position: relative;
    overflow: hidden;
    max-width: 1000px;
	margin: 0 auto;
	float: right;
	right: 1%;
}
.access img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 620px;
	height: auto;
}
.access span {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 12px;
    background-color: #fff;
    color: #333;
    padding: 0 0.4em;
    line-height: 1.8;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.access table{
	width: 45%;
}


.access tr {
	display: table-row;
    margin: 0;
}

.access th, td{
	display: table-cell;
    padding: 0.4em;
    line-height: 1.2;
    border: 1px solid #dadbdb;
    border-bottom: none;
    border-left: none;
}

.access th{
	width: 35%;
	font-family: cursive
}
.access td{
	width: 65%;
	border-right: none;
	font-family: serif;
}

.businessday{
	height: 500px;
    width: 100%;
    /* background-color: rgba(172, 228, 19, 0.658); */
    justify-content: space-around;
	padding-top: 0px;
	position: relative;
}
/* ここからカレンダー */

.businessday p{
	height: 45px;
	width: 33%;
	font-size: 28px;
	margin: 0 auto;
	text-align: center;
	font-family: "FOT-筑紫Aオールド明朝 Pr6 R", "ヒラギノ明朝 Pro W3", "ＭＳ Ｐ明朝", "MS PMincho", "Hiragino Mincho Pro", serif;
	text-decoration: underline;
	background-color: rgba(128, 255, 0, 0.877);
}


.carender{
	width: 88%;
	height: 40%;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 18px;
	font-family: "FOT-筑紫Aオールド明朝 Pr6 R", "ヒラギノ明朝 Pro W3", "ＭＳ Ｐ明朝", "MS PMincho", "Hiragino Mincho Pro", serif;
}




.vacation{
	width: 14%;
	height: 10%;
    float: right;
}


.time ul li{
	width: 36%;
	font-size: 26px;
	font-family: "FOT-筑紫Aオールド明朝 Pr6 R", "ヒラギノ明朝 Pro W3", "ＭＳ Ｐ明朝", "MS PMincho", "Hiragino Mincho Pro", serif;
}



footer {
    width: 100%;
    height: 400px;
	/* background-color: rgba(161, 146, 146, 0.534); */
	position: relative;
	padding-top: 0px;
}

.footer-bottom {
	width: 100%;
    background: #404040;
    color: #fff;
    padding: 2.35em 0 1.4em;
}

footer .inner {
	width: 100%;
	height: 340px;
    display: flex;
	justify-content: space-between;
}
.f_logo img{
	margin-left: 45%;

}
.footer-bottom .fNavi {
	display: flex;
	margin-right: 13%;
}

.footer-bottom .fNavi ul li {
    font-size: 13px;
    margin-bottom: 1.07em;
}
.footer-bottom .fNavi ul li a {
    display: flex;
	align-items: center;
	color: #fff;
}
/* .footer_text{
	display: flex;
	width: 100%;
	height: 50%;
	background-color: chocolate;
	position: absolute;
	bottom: 0;
	font-size: 12px;
	color: #DDD;
	text-align: center;
}
.footer_text ul{
	list-style: none;
	margin: 0 auto;
} */


.last_text{
	position: absolute;
    bottom: 0;
	background-color: bisque;
	margin: 0 auto;
	width: 100%;
    text-align: center;
}

.pastel_copyright {
	font-size: 12px;
}

.inner a {
	color: #3a3a3a;
}





/* ここから太一 */

#gamen{
	min-height: 100vh;
	position: relative;/*←相対位置*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.maingamen{
	padding: 60px 150px 150px 0;
    width: 100%;
}

/* header {
	height: 60px;
	background: #eeeaec;
	text-align: center;
	width: 100%;
	z-index: 100;
} */

/* アカウント登録＆ログインページ */
#register_page{
	width: 350px;
    margin: 0 auto;
    border: solid;
	border-color: rgb(207, 209, 211);
	border-radius: 10px;
}

.register_content{
	width: 200px;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 20px;
    border: solid;
    border-color:rgb(207, 209, 211);
    border-radius: 10px;
}

#register_button{
    margin: 20px;
}

#login_button{
    margin: 20px;
}

.kotira{
	color: #0066c0;
}



/* 商品一覧 */
.purchase_list{
	display: inline-block;
    height: 200px;
    padding: 20px;
    width: 20%;
    margin-top: 10px;
    border: solid;
    border-color: black;
}

.purchase_img {
	height: 120px;
	width: 150px;
}

#product_name{
	margin: 10px;
    height: 40px;
}

.itemName{
	margin-top: 20px;
}


/* 購入ページ */
.purchase_contents{
	width: 1200px;
    height: 400px;
    margin: 25px 175px;
    /* border: solid;
    border-color: rgb(102, 102, 102); */

}
img.purchase_img2 {
	margin-top: 100px;
    margin: 0;
    height: 400px;
    width: 500px;
    float: left;
}

.purchase_date{
	margin: 40px 45px 0 0px;
    float: right;
    font-size: 30px;
    height: 200px;
    width: 600px;
}

.product_price{
	margin-top: 35px;
	color: rgb(235, 60, 29);
}

.product_date{
	margin-top: 30px;
}

.purchase_quantity {
	width: 40px;
	height: 20px;
}

.product_description{
	margin: 50px;
	margin-top: 150px;
	width: 1000px;
}

.product_Returns{
	margin: 50px;
	margin-top: 100px;
	width: 1000px;
}

.purchase_button{
	width: 110px;
}

.cart_in_button{
	width: 110px;
}

#about_product{
	width: 1200px;
	margin: 90px 175px 25px 175px;
	text-align: left;
	border: solid;
    border-color: #e5e5e5;
}

.min_title{
	font-size: 25px;
}

.setsumei_naiyou{
	font-size: 20px;
}

.naiyou{
	font-size: 15px;
}

#setsumei{
	border: solid;
	border-color: #e5e5e5;
}

#eiyou{
	border: solid;
	border-color: #e5e5e5;
}

#zairyou{
	border: solid;
	border-color: #e5e5e5;
}

#kigen{
	width: 200px;
    float: left;
    border: solid;
    border-color: #e5e5e5;
}

#hozon{
	border: solid;
	border-color: #e5e5e5;
}




/* カートページ */
#shopping_cart{
	font-size: 25px;
}

.cart_contents{
	width: 1000px;
    height: 200px;
    margin: 25px 250px;
    border: solid;
    border-color: rgb(102, 102, 102);
}


img.purchase_img3 {
	margin-top: 50px;
    margin: 0;
    height: 200px;
    width: 250px;
    float: left;
}

.cart_product_price{
	margin-top: 15px;
    color: rgb(235, 60, 29);
}

.cart_date{
	font-size: 20px;
    margin: 0 0 0 300px;
    height: 200px;
    width: 600px;
}

#product_name_cart{
	margin-top: 15px;
    height: 25px;
}

.cart_quantity{
	height:30px;
}


/* 登録済み商品 */
#syouhin_touroku{
	margin: 0 150px;
}



table{
	margin: auto;
}

/* 購入履歴 */
.contents_list{
	display: inline-block;
	padding: 20px;
	width: 20%;
	border: solid;
    border-color: black;
}
