@charset "UTF-8";
html {
	overflow-y: scroll; /* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
	/*Internet Explorerが独自に追加したプロパティ*/
	/*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
}
/* リセットおまじない--------------------------------- */

body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}
body {
	background: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}
li {
	list-style: none;
}
a {
	outline: none;
	color: inherit;
	text-decoration: none;
}
img {
	border: 0px;
	vertical-align: bottom;
}
/* --------------------------------------------------- */
#gamen{
	min-height: 100vh;
	position: relative;/*←相対位置*/
	padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.main{
	padding: 0 200px;
}

header {
	height: 60px;
	background: #eeeaec;
	text-align: center;
	width: 100%;
}

img.purchase_img {
	height: 100px;
	width: 150px;
}

/* 購入ページ */
img.purchase_img2 {
	margin-top: 100px;
    height: 300px;
    width: 400px;
}

.purchase_date{
	margin: 100px 100px 0 100px;
    float: right;
    font-size: 30px;
    height: 200px;
	width: 300px;
}

.product_date{
	margin-top: 20px;
}

.purchase_quantity {
	width: 40px;
}

.product_description{
	margin: 50px;
	margin-top: 150px;
	width: 1000px;
}

.product_Returns{
	margin: 50px;
	margin-top: 100px;
	width: 1000px;
}

/* 商品一覧 */
.purchase_list{
	display: inline-block;
	padding: 20px;
	width: 20%;
	border: solid;
    border-color: black;
}

/* 購入履歴 */
.contents_list{
	display: inline-block;
	padding: 20px;
	width: 20%;
	border: solid;
    border-color: black;
}

/* アカウント登録ページ */
#register_page{
	width: 400px;
    margin: 0 auto;
    border: solid;
    border-color: black;
}

.register_content{
	width: 200px;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 20px;
    border: solid;
    border-color: gray;
    border-radius: 10px;
}

#register_button{
    margin: 20px;

}

footer {
	height: 50px;
	width: 100%;
    background-color: #eeeaec;
    text-align: center;
    padding: 10px 0;

    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

footer p {
	font-size: 12px;
	padding-top: 15px;
	letter-spacing: 1px;
}