{% extends 'base.html' %}

{% block content %}

<div>

  <p>{{user_info[0]}}さん こんにちは</p>
 <br>
 <input type="file" id="myImage" accept="image/*">
 <div id="preview_frame"><img id="preview"></div>
 <br>

  <form action="/add" method="post">
    投稿者：{{user_info[0]}}<br>
    内容：<textarea name="comment" cols="30" rows="5"></textarea><br>
    <input type="submit" name="save" value="送信">
  </form>


  {% for item in comment_list %}
  <div class="bbs_content">
    <p>{{item["comment"]}}</p>
    <a href="/edit/{{item['id']}}">編集</a>

    <!-- 課題3(ついでに1) -->
    <button class="open_dialog">削除</button>
    <div class="dialog">
      <div class="dialog_header">
        <span class="dialog_title">削除確認</span>
        <button type="button" class="dialog_close">
          閉じる☓
        </button>
      </div>
      <div class="dialog_content">
        <form action="/del" method="post">
          <p>{{item['comment']}}</p>
          <input type="hidden" name="comment_id" value="{{item['id']}}">
          <input type="submit" name="delete" value="削除する" id="delete_button">
        </form>
      </div>
    </div>




  </div>
  {% endfor %}


</div>


<div>
  <a href="/logout">ログアウト</a>
</div>
<div>
  <a href="/delback">削除取り消し</a>
</div>



{% endblock %}