{% extends 'base.html' %}

{% block content %}

<div>


  {% for item in comment_list %}
  <div class="bbs_content">
    <form action="/delback" method="post">
      <p>{{item['comment']}}</p>
      <input type="hidden" name="comment_id" value="{{item['id']}}">
      <input type="submit" name="delete" value="元に戻す" id="delete_button">
    </form>
  </div>




{% endfor %}


</div>


<div>
  <a href="/logout">ログアウト</a>
</div>
<div>
  <a href="/bbs">マイページ</a>
</div>



{% endblock %}