{% extends 'base.html' %}

{% block content %}
<section class="main">
	<div class="slide">
		<img src="../static/img/thumb_01.png" alt="">
		<img src="static/img/thumb_02.png" alt="">
		<img src="static/img/thumb_03.png" alt="">
	</div>
	<div class="toppic">
		<h1>WELCOME</h1>
		<p>北海道で稀有な完全グルテンフリー・デイリーフリー工房です。
			<br>
			体が元気になる美味しい食、大切な人とゆっくりおしゃべりを楽しめる空間づくりを心がけています。
			<br>
			お飲物とお食事の組み合わせなど、お気軽にご相談ください。
		</p>
		<p>ニセコの自然の中のこの空間で、身体を元気にする食べ物作りと雰囲気味わって頂き、
			<br> 地元の大豆、お米、野菜を発芽、発酵熟成し、ニセコの空気の中で過ごすひと時など
			<br>など世界の多様なお客様に心からのオモテナシを心がけております
		</p>
	</div>
	<div class="inner">
		<div class="title">
			<p>LINE UP</p>
		</div>
		<div class="itemlist">
			{% for item in comment_list %}
			<li>
				<form action="/purchase_page/{{item['id']}}" method="post">
					<input type="hidden" name="id" value="{{item['id']}}">
					<input type="image" src="/static/img/{{item['商品画像']}}" alt="送信する" class="purchase_img">
				</form>
				<dl class="text">
					<dt class="itemName">{{item["商品名"]}}</dt>
					<dd class="price"><span class="font-bw">{{item["税抜き価格"]}}</span>円（税別）</dd>
				</dl>
			</li>
			{% endfor %}

		</div>

	</div>

	<!-- <div class="csatxt"></div> -->

	<div class="access">
		<p>ACCESS</p>
		<a target="_blank" href="http://maps.google.com/maps?q=42.8097991%2C140.6854601">
			<img
				src="../static/img/map.png">
			<span>Googleマップを表示</span>
		</a>
		<table width="100%" cellspacing="0" cellpadding="0" border="0" class="table_detail">
			<tbody>
				<tr>
					<th>営業時間 - Opening hours</th>
					<td>10:00 ～ 17:00</td>
				</tr>
				<tr>
					<th>和 Cafe - Restaurant</th>
					<td>ランチは：水~土･日･祝日 11:00~15:00(15:00LO)<br>
						鴨鍋焼きは常時準備あり､鴨鍋･しゃぶしゃぶは要予約を頂いております｡<br>
						時間外：ディナーなどご予約・貸切は等はお問い合わせください。<br>
					</td>
				</tr>
				<tr>
					<th>電話番号 - Tel</th>
					<td>0136-44-1400</td>
				</tr>
				<tr>
					<th>道順 - Access</th>
					<td>JRニセコ駅より徒歩3分<br>
						近道･･･徒歩1分 駅ホームから見えます<br>
					</td>
				</tr>
				<tr>
					<th>住所 - Address</th>
					<td>北海道 虻田郡ニセコ町字中央通１１３ 完全グルテン･ミルクフリー工房/Perfect Gluten&amp;dairy free factory</td>
				</tr>


			</tbody>
		</table>

	</div>

	<div class="businessday">
		<p>CALENDER</p>
		<table class="carender" border="0" cellpadding="2" cellspacing="1" bgcolor="#333333">
			<tr align="center" bgcolor="#FFFFFF">
				<td colspan="7">2020年7月</td>
			</tr>
			<tr align="center" bgcolor="#C9DFE8">
				<td>日</td>
				<td>月</td>
				<td>火</td>
				<td>水</td>
				<td>木</td>
				<td>金</td>
				<td>土</td>
			</tr>
			<tr align="center" bgcolor="#FFFFFF">
				<td></td>
				<td></td>
				<td></td>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
			</tr>
			<tr align="center" bgcolor="#FFFFFF">
				<td>5</td>
				<td bgcolor="#FF9999">6</td>
				<td bgcolor="#FF9999">7</td>
				<td>8</td>
				<td>9</td>
				<td>10</td>
				<td>11</td>
			</tr>
			<tr align="center" bgcolor="#FFFFFF">
				<td>12</td>
				<td bgcolor="#FF9999">13</td>
				<td bgcolor="#FF9999">14</td>
				<td>15</td>
				<td>16</td>
				<td>17</td>
				<td>18</td>
			</tr>
			<tr align="center" bgcolor="#FFFFFF">
				<td>19</td>
				<td bgcolor="#FF9999">20</td>
				<td bgcolor="#FF9999">21</td>
				<td>22</td>
				<td>23</td>
				<td>24</td>
				<td>25</td>
			</tr>
			<tr align="center" bgcolor="#FFFFFF">
				<td>26</td>
				<td bgcolor="#FF9999">27</td>
				<td bgcolor="#FF9999">28</td>
				<td>29</td>
				<td>30</td>
				<td>31</td>
				<td></td>
			</tr>
		</table>
		<div class="vacation">
			<font color="#FF9999">■</font>が定休日です。
		</div>
		<div class="time">
			<ul>
				<li>OPEN
				10:00 ~ 17:00
				</li>
			</ul>

		</div>

	</div>
</section>

{% endblock %}