{% extends 'base.html' %}

{% block content %}
<section class="main">
	<div class="slide">
		<img src="img/photo_02.png" alt="">
		<img src="img/thumb_02.png" alt="">
		<img src="img/thumb_03.png" alt="">
	</div>
<div class="toppic"></div>
<div class="inner">
<div class="itemlist">
	<li>
		<a href="購入ページリンク">
			<div class="photo">
				<img src="img/photo_01.png" alt="">
			</div>
			<dl class="text">
				<dt class="itemName">商品説明</dt>
				<dd class="price"><span class="font-bw">金額</span>（税別）</dd>
			</dl>
		</a>
	</li>
</div>	
</div>

<div class="csatxt"></div>

<div class="access"></div>

<div class="businessday"></div>
</section>

	{% endblock %}